

                body    {
                        background-color: #F0F8FF;
                }
                .footer {
                        position: absolute;
                        bottom: 0px
                        text-align: center;
                        left: 450px;
                }
                #parent {
                        width: 500px;
                        left: 250px;
                /*      width: 900px; */
                        position: absolute;
                        top: 37%;
                        text-align: center;
                        font-size: 40px;
                        /*letter-spacing: 35px;*/
                        white-space: nowrap;
                        line-height: 12px;
                        overflow: hidden;
                }
                #providers      {
                        font-size: 30px;
                        color:#FF00FF;
                        width: 120px;
                }

                .stylish        {
                        display: inline-block;
                        width:200px;
                        height:200px;
                        border-radius: 132px;
                /* border radius for 300px size buttons
                        border-radius:198px; 
                                                        */
                        border:4px double #ccc;
                        font-size:30px;
                        color:#666;
                        line-height:200px;
                        text-align:center;
                        text-decoration:none;
                        text-shadow:0 1px 0 #fff;
                        background:#ddd
 		}
                .stylish:hover  {

                        border:4px double #bbb;
                        color:#aaa;

                        text-decoration:none;
                        background:#e6e6e6
                }

                #welcome   {
                        font-weight: bold;
                        font-size: 200%;
                /*      background-color: #339999; */
                /*      background-color: #33CCCC; */
                        background-color: #FFFFCC;
                        padding: 10px;
                        }

                .bus_stuff {
                        text-align: center;
                        }
                #bus_user {
                        font-weight: bold;
                        font-family: "Monospace";
                        }
                .map-holder  {
                        opacity: 1.0;
                        filter: alpha(opacity=100);
                }
                .map-holder:hover {
                        opacity: 0.5;
                        filter:alpha(opacity=50);
                }
		[title=buspost]	{
			background: -webkit-gradient(linear, bottom, left 50px, from(#CCCCCC), to(#EEEEEE));
			background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
			margin: auto;
			position: relative;
			width: 450px;
			height: 450px;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 14px;
			font-style: italic;
			line-height: 24px;
			line-weight: bold;
			color: #09C;
			text-decoration: none;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			padding: 10px;
			border: 1px solid #333;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
			}

  
