{% extends "layout.html" %}
{% block title %}
<!--<link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">/!-->

<p id="welcome">Bus {{bus}} updates</p>
<br>
<a href='/updates'>Updates Page</a>
{% endblock %}

{% block body %}
<body>
<br>
<br>

	{% for update in this_bus %}
<div class="bus_stuff">
	{% if update.latitude %}
		<div style="font-weight:bold">{{update.user}}</div>
		<div>{{update.bus}}</div>
		<pre>{{update.entry}}</pre>
		<pre>Coordinates: {{update.latitude}} , {{update.longitude}}</pre>
		<a href="{{update.user_api_link}}"><img class="map-holder" src="{{update.user_map}}"></a>
		<pre>{{update.created}}</pre>

<br>
<hr>
<br>
<br>
	{% else %}

		<div style="font-weight:bold">{{update.user}}</div>
                <div>{{update.bus}}</div>
                <pre>{{update.entry}}</pre>
                <pre>{{update.created}}</pre>

<br>
<hr>
<br>
<br>
	{% endif %}
</div>
	{% endfor %}
</body>
{% endblock %}
