<!DOCTYPE HTML>

<html>
<head>
<meta name="google-site-verification" content="4IOzp5M-KTDSTCxo-BhHJt9fHqyJ-6h2zoL59XUBjBU" />
<title>Megabus Aid | Courtesy. Insight. Preparation | Providing bus updates and journey planning</title>
<!-- <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
/!-->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ /!-->

    <link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <!--
Include the maps javascript with sensor=true because this code is using a
sensor (a GPS locator) to determine the user's location.
See: https://developers.google.com/apis/maps/documentation/javascript/basics#SpecifyingSensor
-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script>
      var map;

      function initialize() {
        var mapOptions = {
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        // Try HTML5 geolocation
       /* if(navigator.geolocation) {
navigator.geolocation.getCurrentPosition(function(position) {
var pos = new google.maps.LatLng(position.coords.latitude,
position.coords.longitude);
*/
var pos = new google.maps.LatLng( {{ latitude | safe }},
{{ longitude | safe }};

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'Location found using HTML5.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>	

<meta name="viewport" content="width=divice-width, height=device-height, target-density=device-dpi, initial-scale=1.0">
<link href="twitter-bootstrap-37d0a30/docs/assets/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="twitter-bootstrap-37d0a30/docs/assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link href="twitter-bootstrap-37d0a30/elusive-iconfont-master/css/elusive-webfont.css">
<!--
<link href="twitter-bootstrap-37d0a30/docs/assets/css/example-fixed-layout.css" rel="stylesheet">
<link href="twitter-bootstrap-37d0a30/less/responsive.less" rel="stylesheet">
/!-->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ /!-->

<!-- social networking scripts /!-->
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "0fb214aa-191e-4643-9458-c3158b66fbf8", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

{% block script %}
{% endblock %}

</head>
<body>
<div class="container">
{% block title %}
<h2>Preparation for the rest of U.S.</h2>
{% endblock %}
<div class="navbar navbar-static-top navbar-inverse">
   <div class="navbar-inner">
      <a class="brand" href="/">MegabusAid</a>
         <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
 	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
         </button>
	<div class="nav-collapse" style="height: auto;">
	<ul class="nav">

	      <li><a href="/"><i class="icon-home"></i> Home</a></li>
              <li><a href="/plantrip"><i class="icon-pencil"></i> Trip Planner</a></li>
              <li><a href="/choicepage"><i class="icon-map-marker"></i> Riding or Waiting - Bus Tracker</a></li>
	      <li><a href="/updates"><i class="icon-check"></i> Updates Page</a></li>
	<!--
	      <li><a href="/aboutme"><i class="icon-male"></i> About Me</a></li>
	/!-->
	{% if user %}
		<p class="navbar-text pull-right">Logged in: <a href="{{logout}}">{{user}}</a></p>
	{% else %}
		<p class="navbar-text pull-right">Guest: <a href="/login">Login</a></p>
	{% endif %}
	</ul>
	</div>
   </div>
</div>

<div class="content pagination-centered">
<hr> 
{% block body %}


{% endblock %}


	{% block footer %}
		<div class="footer-wrapper" style="margin-top:10px;">
                        &copy; Copyright 2013 by <a href="http://www.wesmadrigal.blogspot.com">Wesley Madrigal</a>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_fblike_large' displayText='Facebook Like'></span>
			<span class='st_plusone_large' displayText='Google +1'></span>
			<span class='st_reddit_large' displayText='Reddit'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_linkedin_large' displayText='LinkedIn'></span>
                </div>

	{% endblock %}
</div>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/jquery.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-transition.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-alert.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-modal.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-dropdown.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-scrollspy.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-tab.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-tooltip.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-popover.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-button.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-collapse.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-carousel.js"></script>
<script src="twitter-bootstrap-37d0a30/docs/assets/js/bootstrap-typeahead.js"></script>


</div>
</body>

</html>
