<!--
<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/logstyle.css">
	<title>Megabus Aid Login</title>
</head>
/!-->
{% extends "layout.html" %}
{% block body %}


<div style="margin-top: 100px;" class="container-fluid">
   <div class="row-fluid">
      <div class="span3">
         <div class="well sidebar-nav">
            <ul class="nav nav-list">
		{% for item in new_providers.keys() %}
		
		<li><h2><a href="{{new_providers[item]}}"><b>{{item}}</b></a></h2></li>
		<br>
		{% endfor %}
            </ul>
         </div>
      </div>
      <div class="span9">
         <div class="leaderboard">
         <h2>Our Affiliate based Login</h2>
         <p>With our federated login system you have the convenience of using a pre-existing account with one of our affiliates.  Our system will enable personalization and specific user recognition without placing another account creation and password memory retention on you.  We believe that comlexity never needs to be directly associated with complicated.  Complexity is most eloquent when made simple.</p>
         </div>
      </div>
   </div>
</div>
	

{% endblock %}


