{% extends "layout.html" %}
{% block links %}
{% endblock %}

{% block title %}

{% endblock %}
{% block body %}

<hr>
   <div class="row">
      <div class="span6 offset3">
	<div class="btn-group">
	<!--	<button class="btn-large" action="/choicepage">Megabus Tracker</button> /!-->
		<a class="btn-large" href="/choicepage">Megabus Tracker</a><br> 
	<br>
	<!--	<button class="btn-large" action="/plantrip">Trip Planner</button> /!-->
		<a class="btn-large" href="/plantrip">Trip Planner</a><br>
	</div>
     </div>
   </div>

{% endblock %}
{% block footer %}
{% endblock %}
