{% extends "layout.html" %}
{% block links %}
{% endblock %}

{% block body %}


<div class="row-fluid">
<!--
   <div class="span9">
/!-->
	<div class="btn-block">
	<!--	<button class="btn-large" action="/choicepage">Megabus Tracker</button> /!-->
	 
		<a class="btn btn-large btn-block btn-primary" href="/choicepage" style="padding:10px">Megabus Tracker</a>
 
	<br>
	<!--	<button class="btn-large" action="/plantrip">Trip Planner</button> /!-->
		<a class="btn btn-large btn-block btn-primary" href="/plantrip">Trip Planner</a><br>
             
	   
	</div>
<!--
</div>
/!-->
{% endblock %}

