{% extends "layout.html" %}
{% block links %}
{% endblock %}

{% block script %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<!--
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
/!-->
<script type="text/javascript">
	
	$(document).ready(function(){
		var departure=$('#start'); var arrival=$('#end'); var times=$('#date');
        	$.ajax({
			type:"GET", 
			url:"static/xml/new_cities.xml", 
			dataType:"xml", 
			success: function(xml){
			$(xml).find('menuitem').each(function(){
				var titlecity=$(this).find('titlecity').text();
				departure.append('<option>' + titlecity + '</option>');
				arrival.append('<option>' + titlecity + '</option>');
				});
			}
		});
	});

	var $j = jQuery.noConflict();
	$j(document).ready(function(){
		$j('#date').datepicker();
	});

</script>

<script type="text/javascript">

function getID()
{
	var radios = document.getElementsByName('leg1');
	for (var i = 0, length = radios.length; i < length; i++)
	{
		if (radios[i].checked)	{
			alert(radios[i].value);
		}
	}
}

// a function to iterate through all input elements and get the values of the radio buttons that are selected

function get_radio_vals()
{
	var inputs = document.getElementsByTagName("input");
	var results = ""
	for (var i = 0, length = inputs.length; i < length; i++)
	{
		if (inputs[i].checked)
		{
			if (i < inputs.length - 1)
			{
				results = results + inputs[i].value + ';';
			} else {
				results = results + inputs[i].value;
			}
		}
	}
	//alert(results);
	var hidden_data = document.getElementById("trips");
	hidden_data.value = results;
}
			


</script>

{% endblock %}

{% block body %}
<body>
   <div class="content pagination-centered">
	{% if not response %}
		<p style="padding:30px;"><h4 style="color:#708090;">Complexity doesn't need to be complicated.  With our planning system we've taken an unnecessarily complicated task and made it simple, yet comprehensive enough to take care of all the complexities involved.</h4></p>
		<br><br>


		<form method="POST" id="searchForm">
			<label>Start:
			<select name="start" id="start">
				<option>City, State</option>
			</select>
			</label>
			<label>End:
			<select name="end" id="end">
				<option>City, State</option>
			</select>
			</label>
			<label>Date of Departure:
			<input type="dropdown" size="10" name="date" id="date" />
			</label>
			<div class="error">
			<p style="color:red">{{error}}</p>
			</div>
			<input type="submit" value="Generate Options">
		</form>

	<br>	
	{% endif %}

	{% autoescape false %}
	{% if response %}

		{{response}}

		<form onsubmit="get_radio_vals()" method="POST">
			<input name="trips" id="trips" type="hidden" value="" />
			<input type="submit" value="Add to Basket" />
		</form>

	{% endif %}
	{% endautoescape %}
   </div>
{% endblock %}
</body>
