{% extends "layout.html" %}
{% block title %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		var departure = $('#departure');
		var end = $('#end');
		$.ajax({
			type: "GET",
			url: "static/xml/new_cities.xml",
			dataType: "xml",
			success: function(xml){
			$(xml).find('menuitem').each(function(){
		
				var value=$(this).find('titlecity').text();
				departure.append('<option>'+value+'</option>');
				end.append('<option>'+value+'</option>');
		
			});
		}
	});
	});
		
</script>

{% endblock %}

{% block body %}
<body>
<div class="welcome">
	<p id="welcome">Fill the below and then choose one of our options.</p>
	<a class="button-link" href="/">Home</a>
</div>
<br><br>
<div class="mainform">
	<form method="POST">
		<label>Departure:
		<select name="departure" id="departure">
			<option>loading</option>
		</select>
		</label>
		<br>
		<label>Ending Destination:
		<select name="end" id="end">
			<option>loading</option>
		</select>
		</label>
		<br>
		<label>Day of this month:
		<input type="text" name="day" id="day">
		</label>
		<br>
		<br>
		<div class="error">
		<p style="color:red">{{error}}</p>
		</div>
		<input type="submit" value="Generate options">
	</form>
</div>
<br>
{% autoescape false %}
{% if response %}
<div class="options">
{{response}}
</div>	

{% endif %}
{% endautoescape %}


{% endblock %}
</body>
