{% extends "layout.html" %}
{% block links %}
{% endblock %}

{% block script %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<!--
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
/!-->
<script type="text/javascript">
	
	$(document).ready(function(){
		var departure=$('#start'); var arrival=$('#end'); var times=$('#date');
        	$.ajax({
			type:"GET", 
			url:"static/xml/new_cities.xml", 
			dataType:"xml", 
			success: function(xml){
			$(xml).find('menuitem').each(function(){
				var titlecity=$(this).find('titlecity').text();
				departure.append('<option>' + titlecity + '</option>');
				arrival.append('<option>' + titlecity + '</option>');
				});
			}
		});
	});

	var $j = jQuery.noConflict();
	$j(document).ready(function(){
		$j('#date').datepicker();
	});

</script>


<script type="text/javascript">

function getID()
{
	var radios = document.getElementsByName('leg1');
	for (var i = 0, length = radios.length; i < length; i++)
	{
		if (radios[i].checked)	{
			alert(radios[i].value);
		}
	}
}

// a function to iterate through all input elements and get the values of the radio buttons that are selected

function get_radio_vals()
{
	var inputs = document.getElementsByTagName("input");
	var results = ""
	for (var i = 0, length = inputs.length; i < length; i++)
	{
		if (inputs[i].checked)
		{
			if (i < inputs.length - 1)
			{
				results = results + inputs[i].value + ';';
			} else {
				results = results + inputs[i].value;
			}
		}
	}
	//alert(results);
	var hidden_data = document.getElementById("trips");
	hidden_data.value = results;
}
			

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


// a necessary function to do string substition, since JavaScript has no built-in

function stringSub(the_string, p1, p2, p3, p4)
	{
	var new_string = the_string;
	new_string = new_string.replace("{0}", p1);
	new_string = new_string.replace("{1}", p2);
	new_string = new_string.replace("{2}", p3);
	new_string = new_string.replace("{3}", p4);
	return new_string;
	}


// this is a function to grab and parse the formatted options
	function move_up(clicked_val)
	{
		//alert(clicked_val);
		

		var the_object = document.getElementById(clicked_val);
		var leg = clicked_val.substring(0, clicked_val.indexOf('-'));
		var option = clicked_val.substring(clicked_val.indexOf('-')+1, clicked_val.length);
		//alert(leg);
		//alert(option);
		// the hidden input element with the route as it's value
		var the_trip_key = the_object.firstChild.value;
			
		var the_data = document.getElementById("trip_options").value;
		// turn the trip_options value into a JSON object
		var json_data = JSON.parse(the_data);

		var object_list = the_object.getElementsByTagName("li");
		var h4_list = the_object.getElementsByTagName("h4");	
		//alert(the_trip_key);

		// grab the portion of they key that contains the day
		start_val = the_trip_key.indexOf('-', the_trip_key.indexOf('-', the_trip_key.indexOf('-')+1)+1);
		the_day = the_trip_key.substring(start_val+1, the_trip_key.length);

		// convert the day into an integer or base 10
		new_day = parseInt(the_day, 10) + 1;
		// create a new key based upon the new day
		new_key = the_trip_key.substring(0, start_val) + '-' + new_day;
		// update the_trip_key with new_key
		
		//alert(json_data['1'][clicked_val].length);

		var the_item = 0;                       
                for(i=0; i < json_data[option][leg].length; i++)
                {
                        if(new_key == Object.keys(json_data[option][leg][i]))
                        {
                                the_item = i;
                        }
                }

		
		//alert(Object.keys(json_data[option][leg][the_item][new_key]));

		function generate(new_key){
			var first = new_key.indexOf('-');
			var start = new_key.substring(0, first);
			var second = new_key.indexOf('-', first+1);
			var end_city = new_key.substring(first+1, second);
			var third = new_key.indexOf('-', second+1);
			var month = new_key.substring(second+1, third);
			var day = new_key.substring(third+1, new_key.length);

			var the_title = start + ' -----> ' + end_city + ' on ' + month + '-' + day;
			return the_title;
		}
		
		// this is the city ----> city on date string
		var display = generate(new_key);

		//alert(display);

		

		// getting the new_key value stuff and dynamically filling it in on the html page
		var this_key = Object.keys(json_data[option][leg][the_item][new_key]);
		if(this_key){
			the_object.firstChild.value = new_key;
		}
		//alert(json_data['1'][clicked_val][the_item][new_key][this_key].length);
		//alert(json_data['1'][clicked_val][the_item][new_key][this_key][0]);
		var the_new_lis = json_data[option][leg][the_item][new_key][this_key];

		// this changes the city -----> city on 5-13 string
		h4_list[0].innerHTML = '<b>{0}</b>'.replace('{0}', display);

		for(i = 0; i < object_list.length; i++){
			if(i < the_new_lis.length)
			{
				var name = clicked_val;
				var id_and_url = the_new_lis[i][2] + '+' + the_new_lis[i][3];
				var time = the_new_lis[i][0];
				var price = the_new_lis[i][1];
				var unformatted = '<input type="radio" name="{0}" value="{1}"><h5>{2}<br><div style="margin-left:10px;color:blue;">{3}</div></h5>';
				var formatted = stringSub(unformatted, name, id_and_url, time, price);
				object_list[i].innerHTML = formatted;
			} else {
				object_list[i].innerHTML = '';
			}
		}
		
	}



	function move_down(clicked_val)
	{
		//alert(clicked_val);
		var the_object = document.getElementById(clicked_val);
                var leg = clicked_val.substring(0, clicked_val.indexOf('-'));
                var option = clicked_val.substring(clicked_val.indexOf('-')+1, clicked_val.length);
                //alert(leg);
                //alert(option);
		
		// the hidden input element with the route as it's value
		var the_trip_key = the_object.firstChild.value;
			
		var the_data = document.getElementById("trip_options").value;
		// turn the trip_options value into a JSON object
		var json_data = JSON.parse(the_data);

		var object_list = the_object.getElementsByTagName("li");
		var h4_list = the_object.getElementsByTagName("h4");	
		//alert(the_trip_key);

		// grab the portion of they key that contains the day
		start_val = the_trip_key.indexOf('-', the_trip_key.indexOf('-', the_trip_key.indexOf('-')+1)+1);
		the_day = the_trip_key.substring(start_val+1, the_trip_key.length);

		// convert the day into an integer or base 10
		new_day = parseInt(the_day, 10) - 1;
		// create a new key based upon the new day
		new_key = the_trip_key.substring(0, start_val) + '-' + new_day;
		
		//alert(json_data['1'][clicked_val].length);
		
		var the_item = 0;			
		for(i=0; i < json_data[option][leg].length; i++)
		{
			if(new_key == Object.keys(json_data[option][leg][i]))
			{
				the_item = i;
			}
		}
		

		//alert(the_item);	
		
		//alert(Object.keys(json_data['1'][clicked_val][the_item][new_key]));

		function generate(new_key){
			var first = new_key.indexOf('-');
			var start = new_key.substring(0, first);
			var second = new_key.indexOf('-', first+1);
			var end_city = new_key.substring(first+1, second);
			var third = new_key.indexOf('-', second+1);
			var month = new_key.substring(second+1, third);
			var day = new_key.substring(third+1, new_key.length);

			var the_title = start + ' -----> ' + end_city + ' on ' + month + '-' + day;
			return the_title;
		}
		
		// this is the city ----> city on date string
		var display = generate(new_key);

		//alert(display);

		

		// getting the new_key value stuff and dynamically filling it in on the html page
		var this_key = Object.keys(json_data[option][leg][the_item][new_key]);
		if(this_key){
                        the_object.firstChild.value = new_key;
                }

		var the_new_lis = json_data[option][leg][the_item][new_key][this_key];

		// this changes the city -----> city on 5-13 string
		h4_list[0].innerHTML = '<b>{0}</b>'.replace('{0}', display);

		for(i = 0; i < object_list.length; i++){
			if(i < the_new_lis.length)
			{
				var name = clicked_val;
				var id_and_url = the_new_lis[i][2] + '+' + the_new_lis[i][3];
				var time = the_new_lis[i][0];
				var price = the_new_lis[i][1];
				var unformatted = '<input type="radio" name="{0}" value="{1}"><h5>{2}<br><div style="margin-left:10px;color:blue;">{3}</div></h5>';
				var formatted = stringSub(unformatted, name, id_and_url, time, price);
				object_list[i].innerHTML = formatted;
			} else {
				object_list[i].innerHTML = '';
			}
		}
		
	}

</script>


{% endblock %}

{% block body %}
<body>
   <div class="content pagination-centered">
	{% if not response %}
		<p style="padding:30px;"><h4 style="color:#708090;">Complexity doesn't need to be complicated.  With our planning system we've taken an unnecessarily complicated task and made it simple, yet comprehensive enough to take care of all the complexities involved.</h4></p>
		<br><br>


		<form method="POST" id="searchForm">
			<label>Start:
			<select class="selectpicker show-tick" name="start" id="start">
				<option>City, State</option>
			</select>
			</label>
			<label>End:
			<select class="selectpicker" name="end" id="end">
				<option>City, State</option>
			</select>
			</label>
			<label>Date of Departure:
			<input type="dropdown" size="10" name="date" id="date" />
			</label>
			<div class="error">
			<p style="color:red">{{error}}</p>
			</div>
			<input type="submit" value="Generate Options">
		</form>

	<br>	
	{% endif %}

	{% autoescape false %}
	{% if response %}

		{{response}}

		<form onsubmit="get_radio_vals()" method="POST">
			<input name="trips" id="trips" type="hidden" value="" />
			<input type="submit" value="Add to Basket" />
		</form>

	{% endif %}
	{% endautoescape %}
   </div>
	<input type="hidden" id="trip_options" value="{{trip_options_str}}">
{% endblock %}
</body>
