{% extends "layout.html" %}
{% block links %}
<div class="mainlinks">
        <a class="mainlink-button" href="/">Home</a>
        <a class="mainlink-button" href="/aboutme">About Me</a>
        <a class="mainlink-button" href="/plantrip">Trip Planner</a>
        <a class="mainlink-button" href="/choicepage">Riding or Waiting - Bus Tracker</a>
</div>
{% endblock %}
{% block title %}
<p id="welcome">Choose a pertinent bus arriving to your departure city closest to your departure time</p>
{% endblock %}

{% block body %}
<body>
<p style="color:red">{{error}}</p>
<br>
<form method="POST">
{{the_response|safe}}
</form>
</body>

{% endblock %}
