{% extends "layout.html" %}

{% block body %}
<body>
{% if user %}
<p id="welcome">Welcome to the {{update_type}} updates page {{user}}</p>
{% else %}
<p id="welcome">Welcome to the {{update_type}} updates page guest</p>
{% endif %}

<p>In case you picked the wrong status:  <a href="/">switch status</a></p>
<br>

	<form method="POST">
		<label>Bus #: <input type="text" name="bus"></label>
		<br>
		
		{% if update_type == "riding" or None %}
		<label>Delay Time: 
		<select name="entry">
			<option value="15 minutes late">15 minutes late</option>
			<option value="30 minutes late">30 minutes late</option>
			<option value="45 minutes late">45 minutes late</option>
			<option value="1 hour late">1 hour late</option>
			<option value="1 hour + late">1 hour +</option>
		</select>
		</label>
		{% else %}
		<label>Request:
		<select name="entry">
			<option value="Delay Info Request">Delay Info Request</option>
		</select>
		</label>
		{% endif %}
		

		<br>
		<div class="error" style="color: red">{{error}}</div>
		<input type="submit" value="Update">
	</form>
	
	<br>
	<br>
	<br>


	{% for b in bus_info %}
	<div class="bus_stuff">
		<div style="font-weight:bold" class="bus-user">{{b.user}}</div>
		<div class="bus-num"><a href={{url}}{{b.bus}}>{{b.bus}}</a></div>
		<pre class="bus-court">{{b.entry}}</pre>
		<pre class="bus-location">User post location = {{b.location}}</pre>
		 <pre>{{b.created}}</pre>
	</div>
	<br>
	<hr>
	<br>

	{% endfor %}

</body>

{% endblock %}
