{% extends "layout.html" %}

{% block body %}
<body>

<p id="welcome">Welcome to the {{update_type}} updates page</p>

<p>In case you picked the wrong status:  <a href="/">switch status</a></p>
<br>

	<form method="POST">
		<label>Bus #: <input type="text" name="bus"></label>
		<br>
		<label>Courtesy Information (optional): <input type="text" name"entry"></label>
		<br>
		<div class="error" style="color: red">{{error}}</div>
		<input type="submit" value="Update">
	</form>
	
	<br>
	<br>
	<br>


	{% for b in bus_info %}
	<div class="bus_stuff">
		<div class="bus-user">{{b.user}}</div>
		<div class="bus-num">{{b.bus}}</div>
		<pre class="bus-court">{{b.entry}}</pre> <pre>{{b.created}}</pre>
	</div>
	<br>
	<hr>
	<br>

	{% endfor %}

</body>

{% endblock %}
